{% extends "base.html" %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript"></script>

<div class="is-centered">
    <h1 class="subtitle has-text-weight-bold">Monthly Report</h1>

    <p>Here is the monthly report for {{ month }}</p>
<canvas id="monthlyReport"></canvas>
</div>

<script>
    var ctx = document.getElementById('monthlyReport').getContext('2d');

    const data = {
        labels: {{ labels }},
        datasets: [{
          label: '{{ month }}',
          data: {{ values }},
          fill: true,
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.4
        }]
      };


    var chart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
            responsive: true,
        }
    })
</script>

{% endblock %}