{% extends "base.html" %}

{% block content %}
<h1 class="title is-3 has-text-centered">
  Welcome, {{ name }}!
</h1>

<p class="subtitle">
  There are you expenses:
</p>

<div class="table-container is-fluid">

  <table class="table is-bordered is-fullwidth has-background-black has-text-white has-text-centered">
    <thead>
      <tr>
        <th class="has-text-white">Expense</th>
        <th class="has-text-white">Amount</th>
        <th class="has-text-white">Date</th>
        <th class="has-text-white">Category</th>
      </tr>

    </thead>

    <tbody>
      {% for expense in expensesList %}
      <tr>
        <td>{{ expense.name }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.date }}</td>
        <td>{{ expense.category }}</td>
        <td><a href="/updateExpense/{{ expense.id }}" class="button is-dark">Update</a></td>
        <td><a href="/deleteExpense/{{ expense.id }}" class="button is-dark">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

</div>
{% endblock %}